build
.gradle
.idea
api/dbFiles

*.bpt
*.dat
*.idn
*.jrnl
*.obj
*.bdf
*.lock
*.db
*.xml
*.jar
*.rdf
*.lck
*.bak_002d
*.png
*.crc
*.pyc

frontend/package-lock.json
backend/Modules/IntentSpecification2WorkflowGenerator/api/temp_files
backend/api/datasets
backend/api/ontology/new_triples.tsv

!orm.xml
!persistence.xml
!gradle/wrapper/gradle-wrapper.jar
